<%- include ("./partials/_header", {gameRecordsCount: gameRecords.length}) %>


<div class="container mt-5">
<div class="row">
    <div class="col stopwatch-col">

        <div id="display" class="text-center">
            00:00:00
        </div>

        <div class="buttons text-center">
            <button id="startStop" onclick="startStop()">Start</button>
            <button id="reset" onclick="reset()">Reset</button>
            <button id="save" href="/saveTime/userId/saveTime()">Save</button>

        </div>

        <img class="game-image" src="/public/assets/game-placeholder.jpg" alt="" srcset="">
        <h1 class="text-center"><%= gameRecord.title %></h1>
    </div>
    <div class="col">
        <div class="labels-games">
            Description
        </div>
        <div class="text-label">
            <%= gameRecord.description %>
        </div>
        <div class="labels-games">
            Time played
        </div>
        <div id="time-played" class="text-label">
            <%= timeString %>
        </div>
        <div class="labels-games">
            Date Started
        </div>
        <div id="time-played" class="text-label">
            <%= gameRecord.dateStarted %>
        </div>

    </div>
</div>

</div>





<%- include ("./partials/_footer") %>