
<%- include ("./partials/_header", {gameRecordsCount: gameRecords.length}) %>


<div class="container mt-5">

    <div class="col text-center">
        <a href=/new-game/ type="button" class="btn new-game-button text-white">
            Starting new game?
        </a>
    </div>

    <div class="row text-center labels-games mt-6">
        <div class="col labels-games-classes">
            Name
        </div>
        <div class="col labels-games-classes">
            Time played
        </div>
        <div class="col labels-games-classes">
            Date started
        </div>
        <div class="col labels-games-classes">
            Last played
        </div>
    </div>

    

    <div class="card-container">
        <% for (var i =0; i < gameRecords.length; i++)  {     %>
            <a href="/game-continue/<%= gameRecords[i]._id %>" class="card btn flex-row py-2 my-2 text-center">
                <div class="col">
                    <%= gameRecords[i].title %>
                </div>
                <div class="col">
                    <%= timesFormated[i] %>
                </div>
                <div class="col">
                    <% if (gameRecords[i].dateStarted) { %>
                        <%= gameRecords[i].dateStarted.getMonth() + 1 %>
                        /
                        <%= gameRecords[i].dateStarted.getDate() %>
                        /
                        <%= gameRecords[i].dateStarted.getFullYear() %>
                    <% }else { %>
                        No start date
                    <% } %>
                </div>
                <div class="col">
                    <% if (gameRecords[i].lastPlayed) { %>
                        <%= gameRecords[i].lastPlayed.getMonth() + 1 %>
                        /
                        <%= gameRecords[i].lastPlayed.getDate() %>
                        /
                        <%= gameRecords[i].lastPlayed.getFullYear() %>
                    <% }else { %>
                        Game has not been played yet
                    <% } %>
                </div>
            </a>
            <%  }  %>



    </div>

</div>





<%- include ("./partials/_footer") %>