<%- include ("./partials/_header") %>


<div class="container mt-5">

    <div class="col text-center">
        <a href=/new-game/ type="button" class="btn new-game-button text-white">
            Starting new game?
        </a>
    </div>

    <div class="row text-center labels-games mt-6">
        <div class="col">
            Name
        </div>
        <div class="col">
            Time played
        </div>
        <div class="col">
            Date started
        </div>
        <div class="col">
            Last played
        </div>
    </div>

    <div class="card-container">
        <a class="card btn flex-row py-2 my-2 text-center">
            <div class="col">
                Dark Souls III
            </div>
            <div class="col">
                16:22:54
            </div>
            <div class="col">
                07/20/2020
            </div>
            <div class="col">
                07/27/2020
            </div>
        </a>
        <a class="card btn flex-row py-2 my-2 text-center">
            <div class="col">
                The Outer Worlds
            </div>
            <div class="col">
                04:03:22
            </div>
            <div class="col">
                04/17/2020
            </div>
            <div class="col">
                07/27/2020
            </div>
        </a>



    </div>

</div>


<!-- FORMULARIO


<div class="col-md-5">
   <div class="card">
     <div class="card-body">
      <form action="/add" method="post">
        <div class="form-group">
           <input class="form-control" type="text" name="title" placeholder="Title">
        </div>
        <div class="form-group">
         <textarea class ="form-control" name="description" cols="80"
         placeholder="Add a Description"></textarea>
        </div>
       <button class="btn btn-primary" type="submit">
       Add
       </button>
      </form>
     </div>
   </div>
</div>
-->

    <!--
    <tbody>

        <% for (var i =0; i < tasks.length; i++)  {     %>

            <tr>
                <td> <%= i+1 %></td>
                <td> <strong> <%= tasks[i].title %>   </strong> </td>
                <td>  <%= tasks[i].description %> </td>
                <td>

                    <a class="btn btn-dark" href="turn">Done </a>
                    <a href=/delete/<%= tasks[i]._id %>   class="btn btn-danger" href="turn">Delete </a>
                    
                    <a href=/edit/<%= tasks[i]._id %> class="btn btn-info" href="turn">Edit </a>



                </td>
                
            </tr>    


            <%  }  %>


    </tbody>



    
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                      </tr>
                    </tbody>
                  </table>
    -->


<%- include ("./partials/_footer") %>